<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.mehboob.universalmarketings">

    <uses-permission android:name="android.permission.READ_SMS" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:largeHeap="true"
        android:hardwareAccelerated="false"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.Universalmarketings">
        <activity
            android:name=".RulesActivity"
            android:exported="false" />
        <activity
            android:name=".PartenersActivity"
            android:exported="false" />
        <activity
            android:name=".FAQActivity"
            android:exported="false" />
        <activity
            android:name=".MyTeamActivity"
            android:exported="false" />
        <activity
            android:name=".NotificationActivity"
            android:exported="false" />
        <activity
            android:name=".ProfileActivity"
            android:exported="true" />
        <activity
            android:name=".HistoryActivity"
            android:exported="false" />
        <activity
            android:name=".AboutUsActivity"
            android:exported="false" />
        <activity
            android:name=".InvitationActivity"
            android:exported="false" />
        <activity
            android:name=".MyWalletActivity"
            android:exported="false" />
        <activity
            android:name=".WithDrawalActivity"
            android:exported="false" />
        <activity
            android:name=".TopUpActivity"
            android:exported="false" />
        <activity
            android:name=".DashBoardActivity"
            android:exported="false" />
        <activity
            android:name=".LoginActivity"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>

        </activity>
        <activity
            android:name=".ForgotPasswordActivity"
            android:exported="false" />
        <activity
            android:name=".SignUpActivity"
            android:exported="true" />
        <activity
            android:name=".MainActivity"
            android:exported="true" >

        </activity>
    </application>

</manifest>